body {
    background-color: rgb(64, 164, 182);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
  }
  
  h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    text-align: center;
  }

  h2 {
    color:rgb(255, 254, 205);
    text-align: center;
  }

  h3 {
    text-align: center;
  }


  p {
    color:rgb(255, 254, 205);
    font-size: 20px;
    text-align: center;
  }