body {
    background-color: rgb(64, 164, 182);
    color: white;
    text-align: left;
  }

  
  h1 {
    text-align: center;
  }

  h2 {
    color:rgb(255, 254, 205);
    text-align: center;
  }


  p {
    color:rgb(255, 254, 205);
    font-size: 10px;
    text-align: center;
  }